@using MauiAppBlazorTest.Values
@using MauiAppBlazorTest.Models
@namespace MauiAppBlazorTest.Components


<MudDialog @bind-IsVisible="IsVisible">
    <DialogContent>
        <div class="d-flex flex-column py-1" style="height: 80vh;">
            <DialogButton Buttons="@Buttons" Color="@CustomColor.White" Label="alle" OnActiveStateChanged="async (x) => await ActivateAllButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Red" Label="Alkalimetalle" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Orange" Label="Erdalkalimetalle" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Lime" Label="Übergangsmetalle" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Brown" Label="Lanthanoide" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Purple" Label="Actinoide" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.LightGreen" Label="Metalle" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Green" Label="Halbmetalle" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.LightBlue" Label="Nichtmetalle" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Cyan" Label="Halogene" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.Amber" Label="Edelgase" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
            <DialogButton Buttons="@Buttons" Color="@CustomColor.BlueGrey" Label="Unbekannt" OnActiveStateChanged="async (x) => await ActivateButtonClicked(x)" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Style="margin: auto;" Color="Color.Primary" OnClick="Close">schließen</MudButton>
    </DialogActions>
</MudDialog>

@code {

    void Close()
    {
        IsVisible = false;
        OnClosed.InvokeAsync();
    }

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<ColorSwitcher> OnColorActivated { get; set; }
    [Parameter] public EventCallback<State> OnColorsActivated { get; set; }
    [Parameter] public EventCallback OnClosed { get; set; }
    [Parameter] public List<ButtonStateModel> Buttons { get; set; }

    private async Task ActivateAllButtonClicked(ColorSwitcher colorSwitcher)
    {
        await OnColorsActivated.InvokeAsync(colorSwitcher.ToState ? State.Active : State.Inactive);
    }
    
    private async Task ActivateButtonClicked(ColorSwitcher colorSwitcher)
    {
        await OnColorActivated.InvokeAsync(colorSwitcher);
    }
}